body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.d-inline-block{
    display: inline-block !important;
}.

 .d-flex {
    display: flex !important;
}

.c-space-between {
    justify-content: space-between;
}

.gap-1 {
    grid-gap: 1rem;
}

.gap-2 {
    grid-gap: 2rem;
}

.gap-3 {
    grid-gap: 3rem;
}

.gap-4 {
    grid-gap: 4rem;
}

.gap-5 {
    grid-gap: 5rem;
}
.actions {
    text-align: right;
    margin: auto;
}
